<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/png" href="../images/pong_logo.png">
	<link href="https://fonts.googleapis.com/css2?family=Tektur:wght@400;700&display=swap" rel="stylesheet">
	<link href="../../dist/output.css" rel="stylesheet">
	<title>Pong Game</title>
</head>
<body>
	<div class="bg-container">
		<div class="overlay"></div>
		<canvas class="bg-black border-5 border-solid border-white" id="pongCanvas"></canvas>
	</div>
	<script src="../../dist/game/pong.js"></script>
</body>
</html>