<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/png" href="../images/pong_logo.png">
	<link href="https://fonts.googleapis.com/css2?family=Tektur:wght@400;700&display=swap" rel="stylesheet">
	<link href="../../dist/output.css" rel="stylesheet">
	<title>Pong Game</title>
</head>
<body class="w-[100dvw] h-[100dvh] inset-0 bg-[url('../public/images/background2.jpg')] bg-center bg-cover bg-no-repeat>
	<div class="w-[100dvw] h-[100dvh] absolute inset-0 bg-black/40 -z-[1]"></div>
	<div class="w-[100dvw] h-[100dvh] flex justify-center items-center">
		<canvas class="bg-black border-5 border-solid border-white" id="pongCanvas"></canvas>
	</div>
	<script src="../../dist/game/pong.js"></script>
</body>
</html>