<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/png" href="../images/pong_logo.png">
	<link href="https://fonts.googleapis.com/css2?family=Tektur:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../../dist/output.css">
	<title>Welcome to Pong!</title>
</head>
<body>
	<div class="bg-container">
		<div class="overlay"></div>
		<div class="container" id="container">
			<div class="form-container">
				<form>
					<h1>Sign In</h1>
					<div class="social-icons">
						<a href="#" class="social">
							<img src="https://lh3.googleusercontent.com/COxitqgJr1sJnIDe8-jiKhxDx1FrYbtRHKJ9z_hELisAlapwE9LUPh6fcXIfb5vwpbMl4xl9H9TRFPc5NOO8Sb3VSgIBrfRYvW6cUA" alt="google" class="custom-icon">
						</a>
					</div>
					<span>or use your username password</span>
					<input type="username" placeholder="Usename" />
					<input type="password" placeholder="Password" />
					<a href="#">Forgot your password?</a>
					<button>Sign In</button>
				</form>
			</div>
		</div>
	</div>
	<script src="../../dist/login/login.js"></script>
</body>
</html>