.env
.vscode
.DS_Store
dist
node_modules
.idea

feature/staging
*.db*
backend/auth-service/.npmrc
backend/game-service/.npmrc
backend/pong-service/.npmrc
backend/proxy-service/.npmrc
backend/user-service/.npmrc

*.tsbuildinfo
SECRET.txt
secrets
package-lock.json

frontend/.vite
frontend/.idea
frontend/.DS_Store
frontend/node_modules
frontend/dist
frontend/package-lock.json

backend/auth-service/node_modules
backend/auth-service/dist
backend/auth-service/package-lock.json

backend/game-service/node_modules
backend/game-service/dist
backend/game-service/package-lock.json

backend/pong-service/node_modules
backend/pong-service/dist
backend/pong-service/package-lock.json

backend/proxy-service/node_modules
backend/proxy-service/dist
backend/proxy-service/package-lock.json

backend/user-service/node_modules
backend/user-service/dist
backend/user-service/package-lock.json
backend/user-service/public