.env
.vscode
.DS_Store
dist
node_modules
.idea
data
migrations
*.db*
backend/auth-service/.npmrc
backend/game-service/.npmrc
backend/pong-service/.npmrc
backend/proxy-service/.npmrc
backend/user-service/.npmrc

*.tsbuildinfo
SECRET.txt
secrets
package-lock.json
