{{ define "slack.default.title" }}
[{{ .Status | toUpper }}{{ if eq .Status "firing" }}:{{ .Alerts.Firing | len }}{{ end }}] {{ .CommonLabels.alertname }} for {{ .CommonLabels.job }}
{{- if gt (len .CommonLabels) (len .GroupLabels) -}}
  (
  {{- with .CommonLabels.Remove .GroupLabels.Names }}
    {{- range $index, $label := .SortedPairs -}}
      {{ if $index }}, {{ end }}
      {{- $label.Name }}="{{ $label.Value -}}"
    {{- end }}
  {{- end -}}
  )
{{- end }}
{{ end }}

{{ define "slack.default.text" }}
{{ with index .Alerts 0 -}}
:chart_with_upwards_trend: *<{{ .GeneratorURL }}|View Graph>*
{{- if .Annotations.runbook }} | :notebook: *<{{ .Annotations.runbook }}|Runbook>*{{ end }}
{{ end }}

*Alerts Summary:*

{{ range .Alerts -}}
• *Alert:* {{ .Annotations.title }}{{ if .Labels.severity }} ({{ .Labels.severity | toUpper }}){{ end }}
  *Description:* {{ .Annotations.description }}
  *Instance:* `{{ .Labels.instance }}`
  *Job:* `{{ .Labels.job }}`
  *Time:* `{{ .StartsAt }}`
  *Labels:*
  {{ range .Labels.SortedPairs }}   - {{ .Name }}: `{{ .Value }}`{{ end }}
{{ end }}
{{ end }}
